@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    font-size: 1.3em;
}

header {
    border: white 2px solid;

    background-color: #16b8ee;
    /* padding: 0.25em .0em; */
}
.container {
    width: 80%;
    max-width: 90%;
    margin: 0 auto;
    /* text-align: center; */

}

.row {
    display: flex;
    justify-content: space-between;
}

.logo {
    /* border: white 2px solid; */
    /* padding-top: 15px; */
    align-self: center;
    /* margin-left: -57px; */
}

.nav {
 display: flex;
}


.nav-mid-text {
    max-width: 1100px;
    display: flex;
    list-style: none;
}


.nav-item + .nav-item {
    margin-left: 3em;
}



.nav-item-last{
  list-style: none;   
  display: flex;  
  justify-content: space-between;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link-button {
    color: #16b8ee;
    background: #073645;
    padding: 0.23em 1em;
    border-radius: 10em;
}

.nav-link-button:hover {
    opacity: 0.75;
}

.container-wel-come {
    background-image: url('/img/pexels-tima-miroshnichenko-6196693.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    /* background-color: #0a2930; */
    color: rgb(159, 64, 64);
    padding: 200px 10px;
}

/* .container-welcome {
    width: 80%;
    max-width: 1100px;
} */

.container-welcome-2 {
    width: 90%;
    max-width: 600px;
}

.btn {
    margin-top: -100px;
    color: white;
    font-weight: 400;
    background: #16b8ee;
    padding: 0.5em 1em;
    border-radius: 10em;
    text-decoration: none;
    text-transform: uppercase;
}

.p-btn{
    margin-bottom: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    max-width: 80%;
    padding: 10px;
    border-radius: 4px;
}

.left-section {
    width: 75%;
    margin: 40px;
}

.right-section {
    width: 40%;
    background-color: #073645;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 40px;
}

.x {
    font-weight: 450;
}

.y {
    text-transform: capitalize;
    color: rgb(159, 64, 64);
}

.bottom-section {
    background-color: #073645;
    padding: 13px;
    border-bottom: 2px solid rgb(159, 64, 64);

    /* border: 2px solid #073645; */
}

.form {

}

.form input {
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 25px;
    /* border: 1px solid #073645; */
}

.btn-bottom {
    padding: 10px 30px;
    background-color: #16b8ee;
    /* border-radius: 10px; */
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
    border-style: none;
}

/* .btn-bottom:hover {
    background-color: #073645;
    opacity: 0.5;

} */

.socials img{
    background-color: #fff;
    border-radius: 65px;
}

.socials img:hover {
    background-color: #073645;
    opacity: 0.65;
    width: 150%;
}

.bottom-nav {
    background-color: rgb(178, 190, 181);
    background-color: #073645;
    padding: 15px;
    text-align: center;
}

.btm-link {
    text-decoration: none;
    /* color: #16b8ee; */
    color: #fff;
    text-transform: capitalize;
}


@media (max-width: 800px) {
    h1 {
        width: 100%;
        font-size: 35px;
    }

    .nav-item + .nav-item {
        margin-left: .48em;
    }

    .nav-1 {
        display: none;
    }

    .row {
        display: block;
    }


    .row-2{
        display: flex;
    }
    
    .left-section, .right-section {
        margin-left: -3.42px;
    }
    .container-welcome, .container-welcome-2, .p-btn {
        width: 100%;
    }

    .nav-mid-text, 
    .left-section, 
    .right-section {
        width: 100%;
    }

    .bottom-section {
        text-align: center;
    }

    .bottom-socials {
        margin-top: 10px;
        margin-bottom: -17px;
    }
}


